<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- form CSS -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="/static/css/strategy.css" rel="stylesheet">
    <link href="/static/css/loader.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <!--      plotly-->
    <script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>

    	<!--    jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<!--	css-->



</head>
<body>
<nav class="navbar navbar-dark bg-primary flex-md-nowapr fixed-top p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/home.html">Sentimentrader</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowarp">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <!--     siderbar -->
        <div class="col-md-2 bg-active d-md-block sidebar">
            <div class="left-sidebar">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="/home.html" class="nav-link link-dark" aria-current="page">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#home"></use>
                            </svg>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/social_volume.html" class="nav-link link-dark">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#speedometer2"></use>
                            </svg>
                            Social volume
                        </a>
                    </li>
                    <li>
                        <a href="/sentiment.html" class="nav-link link-dark">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#table"></use>
                            </svg>
                            Sentiment
                        </a>
                    </li>
                    <li>
                        <a href="/strategy.html" class="nav-link link-dark">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#grid"></use>
                            </svg>
                            Strategy
                        </a>
                    </li>
                    <li>
                        <a href="/backtest.html" class="nav-link active">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#people-circle"></use>
                            </svg>
                            Backtest
                        </a>
                    </li>
                </ul>

            </div>
            <!-- figure       -->
        </div>
<!--Main element-->
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 bg-light">
    <div class="content d-flex flex-column mr-2 col-12 shadow p-3 mb-5 rounded" style="background-color: white">
        <div class="strategy_card">
                <h2>策略卡牌</h2>
                <br>
                <div id="card-deck" class="d-flex flex-row flex-nowrap overflow-auto" style="height: 300px;">
                    {% for i in range(strategy_backtest_dict_list_length) %}
                    <div id="card" class="card col-3 p-2 bg-active border-dark">
                        <div id="card-{{ i }}" class="card-body">
                            <h4 class="card-title">{{ strategy_backtest_dict_list[i]['stock_code'] | safe }}</h4>
                            <ul style="font-size:16px; list-style-type: none;">
                                <li>勝率： {{ strategy_backtest_dict_list[i]['win_rate'] | safe }}%</li>
                                <li>年化報酬率： {{ strategy_backtest_dict_list[i]['irr'] | safe }}%</li>
                                <li>總報酬率： {{ strategy_backtest_dict_list[i]['total_return_rate'] | safe }}%</li>
                                <li>創建日期： {{ strategy_backtest_dict_list[i]['create_date'] | safe }}</li>
                            </ul>
                            <div class="d-flex justify-content-end"><button id="change-card-{{ i }}" class="btn-sm btn-primary">選擇卡片</button></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <br>
                <br>
        </div>

        <div class="content d-flex flex-row mr-2">
            <div class="report figure col-8">
                <div class="figure">
                    <img src="{{ strategy_backtest_dict_list[0]['file_path'] | safe }}" alt="back test result" width="950" height="500" style="object-position: -150px 0px;">
                </div>
            </div>


            <div class="report_content d-flex flex-column col-4">
                <div class="report_information d-flex flex-row justify-content-between">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">項目</th>
                          <th scope="col">結果</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>買進次數</td>
                            <td>{{ strategy_backtest_dict_list[0]['total_buy_count'] | safe}}</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>賣出次數</td>
                          <td>{{ strategy_backtest_dict_list[0]['total_sell_count'] | safe}}</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>總報酬率(淨收益)</td>
                           <td>{{ strategy_backtest_dict_list[0]['total_return_rate'] | safe}}%</td>
                        </tr>
                      <tr>
                          <th scope="row">4</th>
                          <td>該策略最高報酬為</td>
                           <td>{{ strategy_backtest_dict_list[0]['highest_return'] | safe}}%</td>
                        </tr>
                      <tr>
                          <th scope="row">5</th>
                          <td>該策略最低報酬為</td>
                           <td>{{ strategy_backtest_dict_list[0]['lowest_return'] | safe}}%</td>
                        </tr>
                      <tr>
                          <th scope="row">6</th>
                          <td>總獲利次數</td>
                           <td>{{ strategy_backtest_dict_list[0]['total_win'] | safe}}</td>
                        </tr>
                      <tr>
                          <th scope="row">7</th>
                          <td>總虧損次數</td>
                           <td>{{ strategy_backtest_dict_list[0]['total_lose'] | safe}}</td>
                        </tr>
                      <tr>
                          <th scope="row">8</th>
                          <td>總交易次數</td>
                           <td>{{ strategy_backtest_dict_list[0]['total_trade'] | safe}}</td>
                        </tr>
                      <tr>
                          <th scope="row">9</th>
                          <td>勝率</td>
                           <td>{{ strategy_backtest_dict_list[0]['win_rate'] | safe}}%</td>
                        </tr>
                      <tr>
                          <th scope="row">10</th>
                          <td>該策略平均每次報酬為</td>
                           <td>{{ strategy_backtest_dict_list[0]['avg_return_rate'] | safe}}%</td>
                        </tr>
                      <tr>
                          <th scope="row">11</th>
                          <td>年化報酬率</td>
                           <td>{{ strategy_backtest_dict_list[0]['irr'] | safe}}%</td>
                        </tr>
                      </tbody>
                    </table>
                </div>


                    <div class="d-flex flex-row justify-content-end">
                        <div>
                            <form id="remove-strategy-form" action="/remove_strategy" method="POST">
                                <input type="text" value="{{ strategy_backtest_dict_list[0]['strategy_id'] | safe }}" style="display: none;" name="remove_strategy">
                                <input type="submit" class="btn btn-primary mr-3" id="remove-strategy" value="捨棄策略">
                            </form>
                        </div>

                        <div>
                            <form id="send-backtest-form" action="/send_backtest" method="POST">
                            <input type="text" value="{{ strategy_backtest_dict_list[0]['strategy_id'] | safe }}" style="display: none;" name="send_backtest">
                            <input type="submit" class="btn btn-primary mr-3" id="send-backtest" value="重新回測">
                            </form>
                        </div>
                    </div>

            </div>
        </div>
    </div>


</main>


    </div>
</div>


 <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
         <br>
         <h4 style="color: #ADB5BD; margin-left: 15px;">Loading...</h4>
    </div>

<script>

    $(window).on("load",function(){
        $(".loader-wrapper").show().delay(2000).queue(function (next) {
                $(this).hide();
                next();
            });
          $(".loader-wrapper").fadeOut("slow");
        });
    </script>


<script>

const cardDeck = document.querySelector("#card-deck");
const figure = document.querySelector(".figure");
const table = document.querySelector(".table");
const removeStrategyForm = document.querySelector("#remove-strategy-form");
const sentBacktestForm = document.querySelector("#send-backtest-form");

let strategy_backtest_dict_list = {{ strategy_backtest_dict_list | safe }}
let strategy_backtest_dict_list_length = {{ strategy_backtest_dict_list_length | safe }}

cardDeck.addEventListener("click", (event) => {
    console.log(cardDeck)
    for (let i = 0; i < strategy_backtest_dict_list_length; i++){
        if (event.target.id == `change-card-${i}`) {
            removeStrategyForm.innerHTML = `<input type="text" value="${strategy_backtest_dict_list[i]['strategy_id']}" style="display: none;" name="remove_strategy">
                                            <input type="submit" class="btn btn-primary mr-3" id="remove-strategy" value="捨棄策略">`

            sentBacktestForm.innerHTML = `<input type="text" value="${strategy_backtest_dict_list[i]['strategy_id']}" style="display: none;" name="send_backtest">
                                          <input type="submit" class="btn btn-primary mr-3" id="send-backtest" value="重新回測">`

            figure.innerHTML = `<img src="${strategy_backtest_dict_list[i]['file_path']}" alt="back test result" width="950" height="500" style="object-position: -150px 0px;">`

            table.innerHTML = `<thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">項目</th>
                          <th scope="col">結果</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>買進次數</td>
                            <td>${strategy_backtest_dict_list[i]['total_buy_count']}</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>賣出次數</td>
                          <td>${strategy_backtest_dict_list[i]['total_sell_count']}</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>總報酬率(淨收益)</td>
                           <td>${strategy_backtest_dict_list[i]['total_return_rate']}%</td>
                        </tr>
                      <tr>
                          <th scope="row">4</th>
                          <td>該策略最高報酬為</td>
                           <td>${strategy_backtest_dict_list[i]['highest_return']}%</td>
                        </tr>
                      <tr>
                          <th scope="row">5</th>
                          <td>該策略最低報酬為</td>
                           <td>${strategy_backtest_dict_list[i]['lowest_return']}%</td>
                        </tr>
                      <tr>
                          <th scope="row">6</th>
                          <td>總獲利次數</td>
                           <td>${strategy_backtest_dict_list[i]['total_win']}</td>
                        </tr>
                      <tr>
                          <th scope="row">7</th>
                          <td>總虧損次數</td>
                           <td>${strategy_backtest_dict_list[i]['total_lose']}</td>
                        </tr>
                      <tr>
                          <th scope="row">8</th>
                          <td>總交易次數</td>
                           <td>${strategy_backtest_dict_list[i]['total_trade']}</td>
                        </tr>
                      <tr>
                          <th scope="row">9</th>
                          <td>勝率</td>
                           <td>${strategy_backtest_dict_list[i]['win_rate']}%</td>
                        </tr>
                      <tr>
                          <th scope="row">10</th>
                          <td>該策略平均每次報酬為</td>
                           <td>${strategy_backtest_dict_list[i]['avg_return_rate']}%</td>
                        </tr>
                      <tr>
                          <th scope="row">11</th>
                          <td>年化報酬率</td>
                           <td>${strategy_backtest_dict_list[i]['irr']}%</td>
                        </tr>
                      </tbody>`
        }else {
            // do nothing
        }
    }
 })

</script>

</body>

</html>