<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Sentimentrader Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="/static/css/home.css">

</head>
<body>
<!-- partial:index.partial.html -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<header>
    <nav class="navbar navbar-dark bg-primary flex-md-nowapr fixed-top p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Sentimentrader</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowarp">
      <a class="nav-link" href="#">Logout</a>
    </li>
  </ul>
</nav>
  </header>

<div class="d-flex justify-content-center mt-5">
<ul class="card-list list-group list-group-horizontal">

	<li class="card">
		<a class="card-image" href="/social_volume.html" target="_blank" style="background-image: url(https://cdn.pixabay.com/photo/2015/03/18/20/25/word-cloud-679938_1280.png);" data-image-full="https://cdn.pixabay.com/photo/2015/03/18/20/25/word-cloud-679938_1280.png">
			<img src="https://cdn.pixabay.com/photo/2015/03/18/20/25/word-cloud-679938_1280.png" alt="Psychopomp" />
		</a>
		<a class="card-description" href="/social_volume.html" target="_blank">
			<h2>Social Volume</h2>
			<p>透過論壇或新聞找出當前熱門選股</p>
		</a>
	</li>

	<li class="card">
		<a class="card-image" href="/sentiment.html" target="_blank" style="background-image: url(https://cdn.pixabay.com/photo/2017/11/26/15/16/smiley-2979107_1280.jpg);" data-image-full="https://cdn.pixabay.com/photo/2017/11/26/15/16/smiley-2979107_1280.jpg">
			<img src="https://cdn.pixabay.com/photo/2017/11/26/15/16/smiley-2979107_1280.jpg" alt="let's go" />
		</a>
		<a class="card-description" href="/sentiment.html" target="_blank">
			<h2>Sentiment Trend</h2>
			<p>可視化股市情緒和歷年股價趨勢</p>
		</a>
	</li>

	<li class="card">
		<a class="card-image" href="/strategy.html" target="_blank" style="background-image: url(https://cdn.pixabay.com/photo/2014/11/25/08/13/dollar-544956_1280.jpg);" data-image-full="https://cdn.pixabay.com/photo/2014/11/25/08/13/dollar-544956_1280.jpg">
			<img src="https://cdn.pixabay.com/photo/2014/11/25/08/13/dollar-544956_1280.jpg" alt="The Beautiful Game" />
		</a>
		<a class="card-description" href="/strategy.html" target="_blank">
			<h2>Strategy & Backtest</h2>
			<p>利用情緒分數及技術線制定交易策略回測</p>
		</a>
	</li>

	<li class="card">
		<a class="card-image" href="/social_volume.html" target="_blank" style="background-image: url(https://cdn.pixabay.com/photo/2016/11/19/21/01/analysis-1841158_1280.jpg);" data-image-full="https://cdn.pixabay.com/photo/2016/11/19/21/01/analysis-1841158_1280.jpg">
			<img src="https://cdn.pixabay.com/photo/2016/11/19/21/01/analysis-1841158_1280.jpg" alt="Jane Doe" />
		</a>
		<a class="card-description" href="/social_volume.html" target="_blank">
			<h2>Report</h2>
			<p>策略回測勝率及報酬率報表</p>
		</a>
	</li>

</ul>

	</div>
<!-- partial -->
  <script src="/static/js/home.js"></script>

</body>
</html>
