<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="icon" type="image/png" href="/static/img/logo/s_word_logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/home.css">

    <!--    jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- partial:index.partial.html -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!--	css-->
    <link href="/static/css/loader.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <!-- Sweet alert Js -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</head>
<body>


<header>
    <nav class="navbar navbar-dark bg-primary flex-md-nowapr fixed-top p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/home.html">Sentimentrader</a>
        <ul class="navbar-nav px-3">
            {% if not token %}
        <li class="nav-item text-nowarp">
            <a class="nav-link" href="/login.html">Login</a>
        </li>
        {% else %}
        <li class="nav-item text-nowarp">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% endif %}
        </ul>
    </nav>
</header>

<div class="d-flex justify-content-center mt-5">
    <ul class="card-list list-group list-group-horizontal">

        <li class="card">
            <a class="card-image" href="/social_volume.html" target="_blank"
               style="background-image: url(https://cdn.pixabay.com/photo/2015/03/18/20/25/word-cloud-679938_1280.png);"
               data-image-full="https://cdn.pixabay.com/photo/2015/03/18/20/25/word-cloud-679938_1280.png">
                <img src="https://cdn.pixabay.com/photo/2015/03/18/20/25/word-cloud-679938_1280.png" alt="Psychopomp"/>
            </a>
            <a class="card-description" href="/social_volume.html" target="_blank">
                <h2>Social Volume</h2>
                <p>透過論壇或新聞找出當前熱門選股</p>
            </a>
        </li>

        <li class="card">
            <a id="sentiment" class="card-image" href="/sentiment.html" target="_blank"
               onclick="$('.loader-wrapper').show().delay(500).fadeOut(2000);"
               style="background-image: url(https://cdn.pixabay.com/photo/2017/11/26/15/16/smiley-2979107_1280.jpg);"
               data-image-full="https://cdn.pixabay.com/photo/2017/11/26/15/16/smiley-2979107_1280.jpg">
                <img src="https://cdn.pixabay.com/photo/2017/11/26/15/16/smiley-2979107_1280.jpg" alt="let's go"/>
            </a>
            <a class="card-description" href="/sentiment.html" target="_blank"
               onclick="$('.loader-wrapper').show().delay(500).fadeOut(2000);">
                <h2>Sentiment Trend</h2>
                <p>可視化股市情緒和歷年股價趨勢</p>
            </a>
        </li>

        <li class="card">
            <a class="card-image" href="/strategy.html" target="_blank"
               style="background-image: url(https://cdn.pixabay.com/photo/2014/11/25/08/13/dollar-544956_1280.jpg);"
               data-image-full="https://cdn.pixabay.com/photo/2014/11/25/08/13/dollar-544956_1280.jpg">
                <img src="https://cdn.pixabay.com/photo/2014/11/25/08/13/dollar-544956_1280.jpg"
                     alt="The Beautiful Game"/>
            </a>
            <a class="card-description" href="/strategy.html" target="_blank">
                <h2>Strategy & Backtest</h2>
                <p>利用情緒分數及技術線制定交易策略回測</p>
            </a>
        </li>

        <li class="card">
            <a class="card-image" href="/backtest.html" target="_blank"
               style="background-image: url(https://cdn.pixabay.com/photo/2016/11/19/21/01/analysis-1841158_1280.jpg);"
               data-image-full="https://cdn.pixabay.com/photo/2016/11/19/21/01/analysis-1841158_1280.jpg">
                <img src="https://cdn.pixabay.com/photo/2016/11/19/21/01/analysis-1841158_1280.jpg" alt="Jane Doe"/>
            </a>
            <a class="card-description" href="/backtest.html" target="_blank">
                <h2>Report</h2>
                <p>策略回測勝率及報酬率報表</p>
                {% if not token %}
                    <p>(使用前須先登入並建立策略)</p>
                {% endif %}
            </a>
        </li>

    </ul>

</div>


<div class="loader-wrapper" style="top: -400px;">
    <span class="loader" style="top: -700px;"><span class="loader-inner"></span></span>
</div>

<!-- partial -->
{% include "sweetalerts.html" %}
<script src="/static/js/home.js"></script>

</body>
</html>
