<!--#252525 : #bf472b-->

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- form CSS -->
    <link rel="stylesheet" href="/static/css/login.css">
  <title>Sign page</title>
</head>
<body>

<div class="container d-flex flex-row d-flex justify-content-center d-flex align-items-center mt-5">
<!--    <div class="image col-4 d-flex justify-content-center align-items-center" style="height: 500px; width: 450px;">-->
<!--        <img src="/static/img/logo/logo_final.png" alt="" style="height: 220px;">-->
<!--    </div>-->

    <div class=" shadow p-3 mb-5 bg-white rounded form col-5 bg-white" style="height: 500px; width: 400px; margin-top: 50px;">
        <div class="form-all mt-3">
          <div class="d-flex flex-column align-items-center col-12" id="singUpTable">
            <h2>SignUp</h2>
            <form action="/signup" method="POST">
              <div class="form-group mt-2">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" id="name">
              </div>
              <div class="form-group mt-2">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" id="email">
              </div>
              <div class="form-group mt-2">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" name="pwd" id="pwd">
              </div>
              <div class="form-group mt-2">
                <label for="confirm_pwd">Confirm Password</label>
                <input type="password" class="form-control" name="con-pwd" id="confirm_pwd">
              </div>
                <br>
              <button class="btn btn-primary" id="signup-btn" type="submit" value="signup">signup</button>

            </form>
            <p class="show-page" id="loginF" onclick="switchToSignIn()">Already have an Account? SignIn</p>
          </div>

          <div class="d-none flex-column align-items-center col-12" id="signInTable">
            <h2>SignIn</h2>
            <form action="/signin" method="POST">
              <div class="form-group mt-2">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email">
              </div>
              <div class="form-group mt-2">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" name="pwd">
              </div>
                <br>
              <button class="btn btn-primary" id="signin-btn" type="submit" value="signup">signin</button>
            </form>
            <p class="show-page" id="signupF" onclick="switchToSignUp()">Don't have an account yet? Signup</p>
          </div>
        </div>

    </div>
</div>

<!-- The JS SDK Login Button -->

  <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="true" data-use-continue-as="true"></div>
 <!--fb-root↓-->
  <div id="fb-root"></div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <script src="/static/js/login.js"></script>

</body>