<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>sentiment</title>
    <link rel="icon" type="image/png" href="/static/img/logo/s_word_logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- form CSS -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="/static/css/loader.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <!-- plotly-->
    <script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>

    <!-- jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Sweet alert Js -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>


<nav class="navbar navbar-dark bg-primary flex-md-nowapr fixed-top p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/home.html">Sentimentrader</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowarp">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>


<div class="container-fluid">
    <div class="d-flex flex-row" style="height: 1300px; width: 2300px;">
        <!--     siderbar -->
        <div class="col-1 bg-active d-md-block sidebar">
            <div class="left-sidebar">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="/home.html" class="nav-link link-dark" aria-current="page">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#home"></use>
                            </svg>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/social_volume.html" class="nav-link link-dark">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#speedometer2"></use>
                            </svg>
                            Social volume
                        </a>
                    </li>
                    <li>
                        <a href="/sentiment.html" class="nav-link active">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#table"></use>
                            </svg>
                            Sentiment
                        </a>
                    </li>
                    <li>
                        <a href="/strategy.html" class="nav-link link-dark">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#grid"></use>
                            </svg>
                            Strategy & Backtest
                        </a>
                    </li>
                    <li>
                        <a href="/backtest.html" class="nav-link link-dark">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#people-circle"></use>
                            </svg>
                            Report
                        </a>
                    </li>
                </ul>

            </div>
            <!-- figure       -->
        </div>
        <!--Main element-->
        <main role="main" class="col-11 px-4 bg-light d-flex flex-column justify-content-center align-items-around">
            <div class="content d-flex flex-row col-5" style="width: 1200px; margin-top: 60px;">
                <form class="shadow p-3 mb-5 rounded col-5 d-flex flex-column"
                      style="background-color: white; margin-right: 40px;" action="/api/1.0/single_stock_sentiment"
                      enctype="application/x-www-form-urlencoded" method=POST>
                    <div class="form-group">
                        <label for="category">類股</label>
                        <select class="form-control" id="category" name="category"
                                onchange="insertOption('category', 'stock_code')" required>
                            <option value="{{ form_info['category'] | safe}}">{{ form_info['category_name'] | safe}}
                            </option>
                            <option value="electric_car">電動車</option>
                            <option value="electric">電子資訊</option>
                            <option value="sail">航運</option>
                            <option value="biotech">生技</option>
                            <option value="finance">金融</option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="source">文章來源</label>
                        <select class="form-control" id="source" name="source">
                            <option value="{{ form_info['source'] | safe}}">{{ form_info['source_name'] | safe}}
                            </option>
                            <option value="ptt">PTT 貼文</option>
                            <option value="cnyes">鉅亨網</option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="stock_code" class="control-label">個股選單</label>
                        <select id="stock_code" class="form-control" name="stock_code">
                            <optgroup label="台積電">
                                <option value="{{ form_info['stock_code'] | safe}}">{{ form_info['stock_code'] | safe}}
                                    {{ form_info['stock_name'] | safe}}
                                </option>
                            </optgroup>
                        </select>
                    </div>
                    <br>
                    <div>
                        <button type="submit" class="btn btn-primary" id="search-sentiment"
                                value="search-sentiment" style="margin-left: 250px;">
                            送出
                        </button>
                    </div>
                </form>
                <br>
                <br>
                <div class="shadow p-3 mb-5 rounded col-12 d-flex flex-row justify-content-around align-items-center"
                     style="background-color: white;">
                    <div id="myDivNow" class="col-6"></div>
                    <div class="col-4" style="margin-right: 50px;">
                        <h5>今日正向情緒分數</h5>
                        <p>大於 50 分： 市場偏向樂觀、貪婪 (歷年漲跌以正數表示)</p>
                        <p>小於 50 分： 市場偏向悲觀、恐懼 (歷年漲跌以負數表示)</p>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column col-7 shadow p-3 mb-5 rounded justify-content-center align-items-center"
                 style="background-color: white; margin-left:15px;">
                <div id="myDiv" style="width: 1100px; height: 650px;"></div>
            </div>
        </main>
    </div>
</div>

<div class="loader-wrapper">
    <span class="loader"><span class="loader-inner"></span></span>
</div>

<script src="/static/js/sentiment.js"></script>
{% include "sweetalerts.html" %}
{% include "sentiment_js.html" %}

</body>

</html>