<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>sentiment</title>
<link rel="icon" type="image/png" href="/static/img/logo/s_word_logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- form CSS -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="/static/css/loader.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <!--      plotly-->
    <script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>

    <!--    jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Sweet alert Js -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>



<nav class="navbar navbar-dark bg-primary flex-md-nowapr fixed-top p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/home.html">Sentimentrader</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowarp">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>


<div class="container-fluid" >
    <div class="d-flex flex-row" style="height: 1300px; width: 2300px;">
        <!--     siderbar -->
        <div class="col-1 bg-active d-md-block sidebar">
            <div class="left-sidebar">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="/home.html" class="nav-link link-dark" aria-current="page">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#home"></use>
                            </svg>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/social_volume.html" class="nav-link link-dark">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#speedometer2"></use>
                            </svg>
                            Social volume
                        </a>
                    </li>
                    <li>
                        <a href="/sentiment.html" class="nav-link active">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#table"></use>
                            </svg>
                            Sentiment
                        </a>
                    </li>
                    <li>
                        <a href="/strategy.html" class="nav-link link-dark">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#grid"></use>
                            </svg>
                            Strategy & Backtest
                        </a>
                    </li>
                    <li>
                        <a href="/backtest.html" class="nav-link link-dark">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#people-circle"></use>
                            </svg>
                            Report
                        </a>
                    </li>
                </ul>

            </div>
            <!-- figure       -->
        </div>
<!--Main element-->
<main role="main" class="col-11 px-4 bg-light d-flex flex-column justify-content-center align-items-around">
                    <div class="content d-flex flex-row col-5" style="width: 1200px; margin-top: 60px;">
                        <form class="shadow p-3 mb-5 rounded col-5 d-flex flex-column" style="background-color: white; margin-right: 40px;" action="/single_stock_sentiment" enctype="application/x-www-form-urlencoded" method=POST>
                            <div class="form-group">
                                <label for="category">類股</label>
                                <select class="form-control" id="category" name="category"
                                        onchange="insertOption('category', 'stock_code')" required>
                                    <option value="{{ form_info['category'] | safe}}">{{ form_info['category_name'] | safe}}</option>
                                    <option value="electric_car">電動車</option>
                                    <option value="electric">電子資訊</option>
                                    <option value="sail">航運</option>
                                    <option value="biotech">生技</option>
                                    <option value="finance">金融</option>
                                </select>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="source">文章來源</label>
                                <select class="form-control" id="source" name="source">
                                    <option value="{{ form_info['source'] | safe}}">{{ form_info['source_name'] | safe}}</option>
                                    <option value="ptt">PTT 貼文</option>
                                    <option value="cnyes">鉅亨網</option>
                                </select>
                            </div>
                            <br>
                            <div class="form-group">
                                <label for="stock_code" class="control-label">個股選單</label>
                                <select id="stock_code" class="form-control" name="stock_code">
                                    <optgroup label="台積電">
                                        <option value="{{ form_info['stock_code'] | safe}}">{{ form_info['stock_code'] | safe}} {{ form_info['stock_name'] | safe}} </option>
                                    </optgroup>
                                </select>
                            </div>
                            <br>
                            <div>
                                <button type="submit" class="btn btn-primary" id="search-sentiment"
                                        value="search-sentiment" style="margin-left: 250px;">
                                    送出
                                </button>
                            </div>
                        </form>
                        <br>
                        <br>
                        <div class="shadow p-3 mb-5 rounded col-12 d-flex flex-row justify-content-around align-items-center" style="background-color: white;">
                            <div id="myDivNow" class="col-6"></div>
                             <div class="col-4" style="margin-right: 50px;">
                                <h5>今日正向情緒分數</h5>
                                <p>大於 50 分： 市場偏向樂觀、貪婪 (歷年漲跌以正數表示)</p>
                                <p>小於 50 分： 市場偏向悲觀、恐懼 (歷年漲跌以負數表示)</p>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-column col-7 shadow p-3 mb-5 rounded justify-content-center align-items-center" style="background-color: white; margin-left:15px;">
                        <div id="myDiv" style="width: 1100px; height: 650px;"></div>
                    </div>



</main>


    </div>
</div>

<div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
 </div>


{% include "sweetalerts.html" %}

    <script>

       $(window).on("load",function(){
        $(".loader-wrapper").show().delay(2000).queue(function (next) {
                $(this).hide();
                next();
            });
          $(".loader-wrapper").fadeOut("slow");
        });


        $("#search-sentiment").on("click", function() {
        $("main").hide();
        $(".loader-wrapper").show();
        });
    </script>



<script>

       // var start = performance.now();

       const daily_stock_price = {{ daily_stock_price | safe }}
       const daily_sentiment = {{ daily_sentiment | safe }}

       var trace1 = {
          x: daily_stock_price['date'].slice(0,1825),
          close: daily_stock_price['close'].slice(0,1825),
            decreasing: { line: { color: "#7F7F7F" } },
          high: daily_stock_price['high'].slice(0,1825),
            increasing: { line: { color: "#17BECF" } },
            line: { color: "rgba(31,119,180,1)" },
          low: daily_stock_price['low'].slice(0,1825),
          open: daily_stock_price['open'].slice(0,1825),
          name: '歷年股價',

       // customise colors
       increasing: {line: {color: 'red'}},
       decreasing: {line: {color: 'green'}},
       type: "candlestick",
       xaxis: {x: "x",
               rangebreaks: [
                {bounds: ["sat", "mon"]},
            ]},
       yaxis: "y"
       };

        var trace2 = {
          x: daily_stock_price['date'].slice(0,1825),
          y: daily_sentiment['avg_valence'].slice(0,1825),
          type: 'scatter',
          yaxis: 'y2',
          name: '平均正向分數',
          line: {
              color: 'rgb(55, 128, 191)',
              width: 1
             }
        };

        var trace3 = {
          x: daily_sentiment['date'].slice(0,1825),
          y: daily_sentiment['avg_arousal'].slice(0,1825),
          type: 'scatter',
          yaxis: 'y2',
          name: '平均強烈分數',
          line: {
              color: 'rgb(128, 0, 128)',
              width: 1
             },
          visible: false,
        };

        var trace4 = {
          x: daily_stock_price['date'].slice(0,1825),
          y: daily_sentiment['sum_sentiment'].slice(0,1825),
          type: 'bar',
          yaxis: 'y3',
          name: '股市關鍵字情感分數',
          line: {
              color: 'rgb(128, 0, 128)',
              width: 1
             },
          visible: false,
        };

        var data = [trace1, trace2, trace3, trace4];

        var layout = {
          updatemenus: [{
            type: 'buttons',
            direction: 'right',
            yanchor: 'bottom',
            xanchor: 'left',
            y: -0.5,
            x: 0.8,
            buttons: [{
                  label: '週',
                  method: 'restyle',
                  args: [{
                           x: [daily_stock_price['date'].slice(0,7)],
                       close: [daily_stock_price['close'].slice(0,7)],
                  decreasing: [{ line: { color: "green" }}],
                        high: [daily_stock_price['high'].slice(0,7)],
                  increasing: [{line: { color: "red" }}],
                        line: [{ color: "rgba(31,119,180,1)", width: 1  }],
                         low: [daily_stock_price['low'].slice(0,7)],
                        open: [daily_stock_price['open'].slice(0,7)],
                          y1: [daily_sentiment['avg_valence'].slice(0,7)],
                          y2: [daily_sentiment['avg_arousal'].slice(0,7)],
                          y3: [daily_sentiment['sum_sentiment'].slice(0,7)]
                          }]
                    }, {
                  label: '月',
                  method: 'restyle',
                  args: [{
                           x: [daily_stock_price['date'].slice(0,30)],
                       close: [daily_stock_price['close'].slice(0,30)],
                  decreasing: [{ line: { color: "green" }}],
                        high: [daily_stock_price['high'].slice(0,30)],
                  increasing: [{line: { color: "red" }}],
                        line: [{ color: "rgba(31,119,180,1)", width: 1  }],
                         low: [daily_stock_price['low'].slice(0,30)],
                        open: [daily_stock_price['open'].slice(0,30)],
                          y1: [daily_sentiment['avg_valence'].slice(0,30)],
                          y2: [daily_sentiment['avg_arousal'].slice(0,30)],
                          y3: [daily_sentiment['sum_sentiment'].slice(0,30)]
                        }]
                    }, {
                  label: '年',
                  method: 'restyle',
                  args: [{
                           x: [daily_stock_price['date'].slice(0,365)],
                       close: [daily_stock_price['close'].slice(0,365)],
                  decreasing: [{ line: { color: "green" }}],
                        high: [daily_stock_price['high'].slice(0,365)],
                  increasing: [{line: { color: "red" }}],
                        line: [{ color: "rgba(31,119,180,1)", width: 1  }],
                         low: [daily_stock_price['low'].slice(0,365)],
                        open: [daily_stock_price['open'].slice(0,365)],
                          y1: [daily_sentiment['avg_valence'].slice(0,365)],
                          y2: [daily_sentiment['avg_arousal'].slice(0,365)],
                          y3: [daily_sentiment['sum_sentiment'].slice(0,365)]
                        }]
                  }, {
                  label: '三年',
                  method: 'restyle',
                  args: [{
                           x: [daily_stock_price['date'].slice(0,1095)],
                       close: [daily_stock_price['close'].slice(0,1095)],
                  decreasing: [{ line: { color: "green" }}],
                        high: [daily_stock_price['high'].slice(0,1095)],
                  increasing: [{line: { color: "red" }}],
                        line: [{ color: "rgba(31,119,180,1)", width: 1  }],
                         low: [daily_stock_price['low'].slice(0,1095)],
                        open: [daily_stock_price['open'].slice(0,1095)],
                          y1: [daily_sentiment['avg_valence'].slice(0,1095)],
                          y2: [daily_sentiment['avg_arousal'].slice(0,1095)],
                          y3: [daily_sentiment['sum_sentiment'].slice(0,1095)]
                        }]
                  },{
                  label: '五年',
                  method: 'restyle',
                  args: [{
                           x: [daily_stock_price['date'].slice(0,1825)],
                       close: [daily_stock_price['close'].slice(0,1825)],
                  decreasing: [{ line: { color: "green" }}],
                        high: [daily_stock_price['high'].slice(0,1825)],
                  increasing: [{line: { color: "red" }}],
                        line: [{ color: "rgba(31,119,180,1)", width: 1 }],
                         low: [daily_stock_price['low'].slice(0,1825)],
                        open: [daily_stock_price['open'].slice(0,1825)],
                          y1: [daily_sentiment['avg_valence'].slice(0,1825)],
                          y2: [daily_sentiment['avg_arousal'].slice(0,1825)],
                          y3: [daily_sentiment['sum_sentiment'].slice(0,1825)]
                        }]
                  }, {
              label: '全部',
              method: 'restyle',
              args: [{
                           x: [daily_stock_price['date']],
                       close: [daily_stock_price['close']],
                  decreasing: [{ line: { color: "green" }}],
                        high: [daily_stock_price['high']],
                  increasing: [{line: { color: "red" }}],
                        line: [{ color: "rgba(31,119,180,1)", width: 1  }],
                         low: [daily_stock_price['low']],
                        open: [daily_stock_price['open']],
                          y1: [daily_sentiment['avg_valence']],
                          y2: [daily_sentiment['avg_arousal']],
                          y3: [daily_sentiment['sum_sentiment']]
                        }]
                    },

                  ]},
            {
        y: 0.8,
        x: -0.2,
        yanchor: 'top',
        buttons: [{
            method: 'restyle',
            args: ['line.color', 'red'],
            label: 'red'
        }, {
            method: 'restyle',
            args: ['line.color', 'blue'],
            label: 'blue'
        }, {
            method: 'restyle',
            args: ['line.color', 'green'],
            label: 'green'
        }, {
            method: 'restyle',
            args: ['line.color', 'black'],
            label: 'black'
        }]
            }, {
        y: 0.6,
        x: -0.2,
        yanchor: 'top',
        buttons: [{
            method: 'restyle',
            args: ['line.width', '0.3'],
            label: '0.3'
        }, {
            method: 'restyle',
            args: ['line.width', '1'],
            label: '1'
        },{
            method: 'restyle',
            args: ['line.width', '1.5'],
            label: '1.5'
        },]
            },{
        y: 1,
        x: -0.2,
        yanchor: 'top',
        buttons: [{
            method: 'restyle',
            args: ['visible', [true, false, false, false]],
            label: '歷年Ｋ線圖'
        }, {
            method: 'restyle',
            args: ['visible', [true, true, false, false]],
            label: '情感分數(貪婪 vs 恐懼、50分以上為正)'
        }, {
            method: 'restyle',
            args: ['visible', [true, false, true, false]],
            label: '情感分數(強烈 vs 柔弱、50分以上為正)'
        }, {
            method: 'restyle',
            args: ['visible', [true, false, false, true]],
            label: '以股市漲跌關鍵字計算情感分數'
        }]
            }],

        title: {
                text:'個股  {{daily_sentiment['chosen_stock_name']}}  情緒分數 ｖｓ 歷年股價',
                font: {
                  family: 'Courier New, monospace',
                  size: 18
                },
                xref: 'paper',
                x: 0.06,
                y: 0.97
              },
        dragmode: "zoom",
        margin: {
            r: 10,
            t: 30,
            b: 40,
            l: 60
          },
        showlegend: true,
        xaxis: {
          title: {
                  text: '日期',
                  font: {
                    family: 'Courier New, monospace',
                    size: 14,
                    color: '#7f7f7f'
                  }
                },
          autorange: true,
          domain: [0, 1],
<!--          range: {{ daily_stock_price['range'] | safe }},-->
<!--          rangeslider: { range: {{ daily_stock_price['range'] | safe }} },-->
          title: "Date",
          type: "date",
          rangebreaks: [
                {bounds: ["sat", "mon"]},
            ]
        },
        yaxis: {
          title: {
                  text: '價格（元）',
                  font: {
                    family: 'Courier New, monospace',
                    size: 14,
                    color: '#7f7f7f'
                  }
                },
          autorange: true,
          domain: [0, 1],
          range: [0, 800],
          type: "linear"
          },
        yaxis2: {
          title: {
                  text: '情感分數',
                  font: {
                    family: 'Courier New, monospace',
                    size: 14,
                    color: '#7f7f7f'
                  }
                },
          autorange: false,
          domain: [0, 1],
          range: [-2, 2],
          type: "linear",
          overlaying: 'y',
          side: 'right',
          position: 0.95
          },
          yaxis3: {
          title: {
                  text: '股市關鍵字分數',
                  font: {
                    family: 'Courier New, monospace',
                    size: 14,
                    color: '#7f7f7f'
                  }
                },
          autorange: false,
          domain: [0, 2],
          range: [0, 1000],
          type: "linear",
          overlaying: 'y',
          side: 'right',
          position: 1.1
          }
        };

Plotly.newPlot("myDiv", data, layout);

// var end = performance.now();
// alert('total took ' + (end - start) + ' ms.');




</script>

<script>
  // Enter a speed between 0 and 180
var level = {{daily_sentiment['avg_valence_angular']}};

// Trig to calc meter point
var degrees = 180 - level,
	 radius = .5;
var radians = degrees * Math.PI / 180;
var x = radius * Math.cos(radians);
var y = radius * Math.sin(radians);

// Path: may have to change to create a better triangle
var mainPath = 'M -.0 -0.025 L .0 0.025 L ',
	 pathX = String(x),
	 space = ' ',
	 pathY = String(y),
	 pathEnd = ' Z';
var path = mainPath.concat(pathX,space,pathY,pathEnd);

var data = [{ type: 'scatter',
   x: [0], y:[0],
	marker: {size: 28, color:'850000'},
	showlegend: false,
	name: 'speed',
	text: level,
	hoverinfo: 'text+name'},
  { values: [36, 36, 36, 36, 36, 60, 60, 60],
  rotation: 210,
  text: ['', '', 'Average', '', '','Extreme Greed', '', 'Extreme Fear'],
  font_size: 13,
  textinfo: 'text',
  textposition:'inside',
  marker: {colors:['rgba(235, 107, 0, 1)', 'rgba(207, 156, 0, 1)','rgba(204,255,51,1)','rgba(158,240,26,1)' ,
						 'rgba(112,224,0,1)', 'rgba(49, 235, 49, 1)', 'rgba(255, 255, 255, 0)', 'rgba(240, 44, 44, 1)']},
  labels: ['70-100', '60-70', '40-60', '30-40', '0-30','Extreme Greed' , 'q', 'Extreme Fear'],
  hoverinfo: 'label',
  hole: .5,
  type: 'pie',
  showlegend: false
}];

<!--background-image: linear-gradient(to right, #f02c2c, #eb6b00, #cf9c00, #9ec700, #31eb31);-->

var layout = {
  shapes:[{
      type: 'path',
      path: path,
      fillcolor: '850000',
      line: {
        color: '850000'
      }
    }],
  title: '<b>今日情緒分數({{daily_sentiment['chosen_stock_name']}}): {{daily_sentiment['avg_valence_now']}} </b> <br> 恐懼(0) vs 貪婪(100)',
  height: 420,
  width: 420,
  xaxis: {zeroline:false, showticklabels: false,
			 showgrid: false, range: [-1, 1]},
  yaxis: {zeroline:false, showticklabels: false,
			 showgrid: false, range: [-1, 1]}
};

Plotly.newPlot('myDivNow', data, layout, {showSendToCloud:true});





</script>


<script src="/static/js/sentiment.js"></script>


</body>

</html>