<script>
    var social_volume_rank = {{social_volume_rank | safe}}
    var trace1 =
        {
          x: social_volume_rank['stock_name_code'],
          y: social_volume_rank['article_count'],
          name: '被提及文章數',
          type: "bar",
          marker:{
            color: ['#d52929', '#dc173e', '#e00052', '#e10068', '#df007d', '#ED0F8B', '#d70095', '#c200b4', '#9700d8', '#0000ff']
          },
        }
      ;

    var trace2 =
        {
          x: social_volume_rank["stock_name_code"],
          y: social_volume_rank["stock_count"],
          name: '被提及次數',
          type: "bar",
          marker:{
            color: ['#bb0202', '#b90020', '#b90020', '#b40033', '#9f0051', '#9f0051', '#90005d', '#79006a', '#570079', '#000087']
          },
        }
      ;



    var data = [trace1, trace2];
    var layout = {
              barmode: 'stack',
              title: {
                text: social_volume_rank["title"],
                font: {
                  family: 'Courier New, monospace',
                  size: 16
                },
                xref: 'paper',
                x: 0.05,
              },
              xaxis: {
                title: {
                  text: '個股名稱',
                  font: {
                    family: 'Courier New, monospace',
                    size: 14,
                    color: '#7f7f7f'
                  }
                },
              },
              yaxis: {
                title: {
                  text: '被提及次數(次) / 被提及文章數(篇)',
                  font: {
                    family: 'Courier New, monospace',
                    size: 14,
                    color: '#7f7f7f'
                  }
                }
              }
            };

      Plotly.newPlot("myDiv", data, layout);
<!--     color gradient https://mycolor.space/gradient?ori=to+right&hex=%23F01313&hex2=%230F0FE0&sub=1-->


const socailVolumeForm = document.querySelector("#socail-volume-form");

socailVolumeForm.innerHTML = `<div class="form-group">
        <label for="category">類股</label>
        <select class="form-control" id="category" name="category" required>
          <option value="${social_volume_rank['category']}">${social_volume_rank['category_name']}</option>
          <option value="electric_car">電動車</option>
          <option value="electric">電子資訊</option>
          <option value="sail">航運</option>
          <option value="biotech">生技</option>
          <option value="finance">金融</option>
          </select>
      </div>
      <div class="form-group">
         <label for="source">文章來源</label>
         <select class="form-control" id="source" name="source">
         <option value="${social_volume_rank['source']}">${social_volume_rank['source_name']}</option>
          <option value="ptt">PTT 貼文</option>
          <option value="cnyes">鉅亨網</option>
        </select>
      </div>
      <div class="form-group">
          <label for="duration">時間範圍</label>
          <select class="form-control" id="duration" name="duration">
            <option value="${social_volume_rank['duration']}">${social_volume_rank['duration_name']}</option>
            <option value="daily">當日</option>
            <option value="weekly">當周</option>
            <option value="monthly">當月</option>
            <option value="yearly">一年內</option>
            <option value="three_yearly">三年內</option>
          </select>
      </div>
      <div>
    <button type="submit" class="btn btn-primary" id="search_rank" value="search_rank">送出</button>
        </div>`


</script>