<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>social volume</title>
    <link rel="icon" type="image/png" href="/static/img/logo/s_word_logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- form CSS -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="/static/css/loader.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <!--      plotly-->
    <script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>

    <!-- Sweet alert Js -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
<nav class="navbar navbar-dark bg-primary flex-md-nowapr fixed-top p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/home.html">Sentimentrader</a>
    <ul class="navbar-nav px-3">
        {% if not token %}
        <li class="nav-item text-nowarp">
            <a class="nav-link" href="/login.html">Login</a>
        </li>
        {% else %}
        <li class="nav-item text-nowarp">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% endif %}
    </ul>
</nav>

<div class="container-fluid">
    <div class="row" style="height: 1300px;">
        <!--     siderbar -->
        <div class="col-md-2 bg-active d-md-block sidebar">
            <div class="left-sidebar">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="/home.html" class="nav-link link-dark" aria-current="page">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#home"></use>
                            </svg>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/social_volume.html" class="nav-link active">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#speedometer2"></use>
                            </svg>
                            Social volume
                        </a>
                    </li>
                    <li>
                        <a href="/sentiment.html" class="nav-link link-dark">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#table"></use>
                            </svg>
                            Sentiment
                        </a>
                    </li>
                    <li>
                        <a href="/strategy.html" class="nav-link link-dark">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#grid"></use>
                            </svg>
                            Strategy & Backtest
                        </a>
                    </li>
                    <li>
                        <a href="/backtest.html" class="nav-link link-dark">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#people-circle"></use>
                            </svg>
                            Report
                        </a>
                    </li>
                </ul>

            </div>
            <!-- figure       -->
        </div>
        <!--Main element-->
        <main role="main" class="bg-light col-md-10 ml-sm-auto col-lg-10 px-4">
            <div class="col-12 shadow p-3 mb-5 rounded d-flex flex-row " style="background-color: white">
                <div class="col-3">
                    <form id="socail-volume-form" action="/api/1.0/social_volume_rank"
                          enctype="application/x-www-form-urlencoded" method=POST>
                        <div class="form-group">
                            <label for="category">類股</label>
                            <select class="form-control" id="category" name="category" required>
                                <option value="electric_car">電動車</option>
                                <option value="electric">電子資訊</option>
                                <option value="sail">航運</option>
                                <option value="biotech">生技</option>
                                <option value="finance">金融</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="source">文章來源</label>
                            <select class="form-control" id="source" name="source">
                                <option value="ptt">PTT 貼文</option>
                                <option value="cnyes">鉅亨網</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="duration">時間範圍</label>
                            <select class="form-control" id="duration" name="duration">
                                <option value="daily">當日</option>
                                <option value="weekly">當周</option>
                                <option value="monthly">當月</option>
                                <option value="yearly">一年內</option>
                                <option value="three_yearly">三年內</option>
                            </select>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" id="search_rank" value="search_rank">送出
                            </button>
                        </div>
                    </form>
                </div>

                <div class="col-9">
                    <div id="myDiv" style="width: 800px; height: 500px;"></div>
                </div>

            </div>

        </main>


    </div>
</div>

{% include "sweetalerts.html" %}
{% include "social_volume_js.html" %}


</body>

</html>

