<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>strategy & backtest</title>
    <link rel="icon" type="image/png" href="/static/img/logo/s_word_logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- form CSS -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="/static/css/strategy.css" rel="stylesheet">
    <link href="/static/css/loader.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <!--      plotly-->
    <script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>

    <!-- Sweet alert Js -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


</head>
<body>
<nav class="navbar navbar-dark bg-primary flex-md-nowapr fixed-top p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/home.html">Sentimentrader</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowarp">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row" style="height: 3000px;">
        <!--     siderbar -->
        <div class="col-md-2 bg-active d-md-block sidebar">
            <div class="left-sidebar">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="/home.html" class="nav-link link-dark" aria-current="page">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#home"></use>
                            </svg>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/social_volume.html" class="nav-link link-dark">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#speedometer2"></use>
                            </svg>
                            Social volume
                        </a>
                    </li>
                    <li>
                        <a href="/sentiment.html" class="nav-link link-dark">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#table"></use>
                            </svg>
                            Sentiment
                        </a>
                    </li>
                    <li>
                        <a href="/strategy.html" class="nav-link active">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#grid"></use>
                            </svg>
                            Strategy & Backtest
                        </a>
                    </li>
                    <li>
                        <a href="/backtest.html" class="nav-link link-dark">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#people-circle"></use>
                            </svg>
                            Report
                        </a>
                    </li>
                </ul>

            </div>
            <!-- figure       -->
        </div>


        <!--Main element-->
        <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4 bg-light d-flex flex-row justify-content-center">
            <div class="content d-flex flex-column mr-2 col-12">

                <div class="strategy_card form">
                    <h2>範例策略</h2>
                    <br>
                    <div id="card-deck" class="d-flex flex-row flex-nowrap overflow-auto" style="height: 280px;">
                        {% for i in range(sample_strategy_form_length) %}
                        <div id="card" class="card col-3 p-2 bg-active border-dark">
                            <div id="card-{{ i }}" class="card-body">
                                <h4 class="card-title">{{ sample_strategy_form[i]['stock_code'] | safe }} / {{
                                    sample_strategy_form[i]['stock_name'] | safe }}</h4>
                                <ul style="font-size:16px; list-style-type: none;">
                                    <li>勝率： {{ sample_strategy_form[i]['win_rate'] | safe }}%</li>
                                    <li>年化報酬率： {{ sample_strategy_form[i]['irr'] | safe }}%</li>
                                    <li>總報酬率： {{ sample_strategy_form[i]['total_return_rate'] | safe }}%</li>
                                    <li>創建日期： {{ sample_strategy_form[i]['create_date'] | safe }}</li>
                                </ul>
                                <div class="d-flex justify-content-end">
                                    <button id="change-card-{{ i }}" class="btn-sm btn-primary">選擇卡片</button>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <br>
                    <br>
                </div>


                <div class="shadow p-3 mb-5 rounded form" style="background-color: white; padding: 20px; ">
                    <form id="strategy-form" action="/api/1.0/send_strategy" method="POST">
                        <div class="col-12 strategy_setting d-flex flex-row justify-content-between">

                            <div class="strategy_setting_para col-6">
                                <h2>策略制定</h2>
                                <br>
                                <div>
                                    <div class="form-group">
                                        <label for="category">類股</label>
                                        <select class="form-control" id="category" name="category" required
                                                onchange="insertOption('category', 'stock_code')">
                                            <option value="">請選擇類股</option>
                                            <option value="tsmc">台積電</option>
                                            <option value="electric_car">電動車</option>
                                            <option value="electric">電子資訊</option>
                                            <option value="sail">航運</option>
                                            <option value="biotech">生技</option>
                                            <option value="finance">金融</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="stock_code" class="control-label">個股選單</label>
                                        <select id="stock_code" class="form-control" name="stock_code" required>
                                            <optgroup label="--">
                                                <option value="">--</option>
                                            </optgroup>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="strategy_line">進出場策略(技術線或自訂)</label>
                                        <select class="form-control strategy_line" id="strategy_line"
                                                name="strategy_line"
                                                onchange="showStrategy('strategy_line', 'custom_strategy')">
                                            <option value="kdj_line">ＫＤ線交叉</option>
                                            <option value="macd_line">ＭＡＣＤ線交叉</option>
                                            <option value="none_line">自訂</option>
                                        </select>
                                    </div>

                                    <div id="custom_strategy" class="custom_strategy">
                                        <div class="form-group">
                                            <label for="strategy_in">自訂進場策略(股價)</label>
                                            <select class="form-control" id="strategy_in" name="strategy_in"
                                                    onchange="strategyStock('strategy_in', 'strategy_out')" required>
                                                <option value="">--</option>
                                                <option value="increase_in">股價連續上漲(3日)</option>
                                                <option value="decrease_in">股價連續下跌(3日)</option>
                                            </select>
                                        </div>

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">大於或等於</span>
                                            </div>
                                            <input id="strategy_in_para" type="number" class="form-control"
                                                   name="strategy_in_para" aria-label="Amount (to the nearest dollar)"
                                                   required min="0" max="10">
                                            <div class="input-group-append">
                                                <span class="input-group-text">％</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="strategy_out">自訂出場策略(股價)</label>
                                            <select class="form-control" id="strategy_out" name="strategy_out">
                                                <option value="none">--</option>
                                            </select>
                                        </div>

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">大於或等於</span>
                                            </div>
                                            <input id="strategy_out_para" type="number" class="form-control"
                                                   name="strategy_out_para" aria-label="Amount (to the nearest dollar)"
                                                   required min="0" max="10">
                                            <div class="input-group-append">
                                                <span class="input-group-text">％</span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="sentiment_condition">不進場條件依據</label>
                                        <select class="form-control" id="sentiment_condition" name="strategy_sentiment"
                                                onchange="strategySentiment('sentiment_condition', 'sentiment_grade', 'sentiment_source')">
                                            <option value="daily_sentiment_pass">當日情緒分數</option>
                                            <option value="to_negative_pass">正轉負</option>
                                            <option value="to_positive_pass">負轉正</option>
                                            <option value="none_pass"> --</option>
                                        </select>
                                    </div>


                                    <div id="sentiment_grade" class="sentiment_grade">

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">大於或等於</span>
                                            </div>
                                            <input id="sentiment_para_more" type="number" class="form-control"
                                                   name="sentiment_para_more"
                                                   aria-label="Amount (to the nearest dollar)" placeholder="多少以上不進場"
                                                   required min="50" max="99">
                                            <div class="input-group-append">
                                                <span class="input-group-text">分</span>
                                            </div>
                                        </div>

                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">小於或等於</span>
                                            </div>
                                            <input id="sentiment_para_less" type="number" class="form-control"
                                                   name="sentiment_para_less"
                                                   aria-label="Amount (to the nearest dollar)" placeholder="多少以下不進場"
                                                   required min="1" max="50">
                                            <div class="input-group-append">
                                                <span class="input-group-text">分</span>
                                            </div>
                                        </div>

                                    </div>

                                    <div id="sentiment_source" class="form-group sentiment_source">
                                        <label for="source">媒體來源</label>
                                        <select class="form-control" id="source" name="source">
                                            <option value="ptt">PTT 論壇</option>
                                            <option value="cnyes">新聞</option>
                                        </select>
                                    </div>

                                </div>

                            </div>
                            <div class="basic_setting_para col-6">
                                <h2>基本設定</h2>
                                <br>
                                <div class="form-group">
                                    <label for="start_date">開始日期</label>
                                    <input type="date" class="form-control" id="start_date" name="start_date"
                                           placeholder="2018-01-01" required min="2015/01/01">
                                </div>
                                <div class="form-group">
                                    <label for="end_date">結束日期</label>
                                    <input type="date" class="form-control" id="end_date" name="end_date"
                                           placeholder="2021-10-31" required min="2015/01/01">
                                </div>
                                <div class="form-group">
                                    <label for="money">資金(千)</label>
                                    <input type="number" class="form-control" name="money" id="money" placeholder="0"
                                           required min="300" max="999999">
                                </div>
                                <div class="form-group">
                                    <label for="discount">手續費折扣(%)</label>
                                    <input type="number" class="form-control" name="discount" id="discount"
                                           placeholder="0" required min="10" max="70">
                                </div>


                            </div>

                        </div>


                        <div class="d-flex flex-row justify-content-end">
                            <div>
                                <button type="submit" class="btn btn-primary mr-3" id="sent-backtest"
                                        value="sent-backtest">送出回測
                                </button>
                            </div>
                        </div>
                    </form>

                    <br>
                    <div class="d-flex flex-row justify-content-end" style="margin-left: 10px;">
                        <div>
                            <button type="submit" class="btn btn-primary mr-3" id="clear-setting" value="clear-setting">
                                清除重設
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </main>

    </div>
</div>

{% include "sweetalerts.html" %}
{% include 'strategy_js.html' %}

</body>

</html>