.loader-wrapper {
  width: 3000px;
  height: 3000px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #F8F9FA;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  top: -1100px;
  right: 250px;
  border: 4px solid #ADB5BD;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #ADB5BD;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 25%;}
  50% { height: 50%;}
  75% { height: 100%;}
  100% { height: 0%;}
}