body {
background-image: url('/static/img/2302.jpeg');
background-size: cover;
}

form input {
  font-size: 15px;
  border-radius: 20px;
  padding: 12px;
  transition: all 0.2s ease;
  font-family: "Poppins", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

form input:focus {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.show-page {
  color: #06414e;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.show-page:hover {
  cursor: pointer;
  opacity: 0.8;
}
